/* rem and em do Not depend on html font-sze in media queries!
Insted, 1rem = 1em = 16px

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* SMARTPHONE */
@media screen and (max-width: 30rem) {
    
    .logo{
        content: url("https://i.imgur.com/uqbftRy.png");
        width: 4rem;
    }
    
    .nav_link.nav-cta:link, .nav_link.nav-cta:visited {
        font-size: 1.4rem;
        padding: 1.2rem;
    }
    
    .header{
        max-width: 90vw;
        padding: 0 1.2rem;
        margin: 1.2rem 2.4rem 1.2rem;
    }
    
    .hero{
        height: 75vh;
    }
    .circle{
        height: 33rem;
        width: 33rem;
    }
    .coming-sooon {
        font-size: 2.4rem;
        letter-spacing: 3.2rem;
        top: 50%;
        left: 56%;
        white-space: normal;
    }
    
    .title{
        font-size: 1.8rem;
        letter-spacing: 1.8rem;
        padding: 1.2rem 0;
    }
    
    .Dev_Name {
        font-size: 2.4rem;
        letter-spacing: 5px;
        padding: 1.2rem;
    }
    
    .Dev_pos {
        font-size: 1rem;
    }
    
    .footer_sub_title {
        font-size: 1.4rem;
    }

    
    .Detail-footer .copyright {
        background-color: #120214;
        color: #F7F7F7;
        font-weight: 600;
        padding: 1.2rem 1.4rem;
        font-size: 1.2rem;
        display: flex;
        justify-content: space-between;
    }
    
    .hire_me a{
        text-decoration: none;
    }
    
    .hire_me a:link, .hire_me a:visited{
        color: white;
    }
    
    .resume-txt{
        font-size: 2.4rem;
    }
    
    .footer-part{
        grid-template-columns: 1fr;
    }
    
    .foot-links{
        flex-direction: column;
    }
    
}

@media screen and (max-width: 45em){
    .footer-part{
        grid-template-columns: 1fr;
    }
}
    
    
    
    @media screen and (max-width: 59em) {
    
    
    .nav_link.nav-cta:link, .nav_link.nav-cta:visited {
        font-size: 1.4rem;
        padding: 1.2rem;
    }
    
    .header{
        max-width: 90vw;
        padding: 0 1.2rem;
        margin: 1.2rem 2.4rem 1.2rem;
    }
    
    .hero{
        height: 86vh;
    }
    .circle{
        height: 35rem;
        width: 35rem;
    }
    
    .coming-sooon{
        font-size: 2.4rem;
        letter-spacing: 2.8rem;
    }
    
    .resume-txt{
        font-size: 2.1rem;
        color: #e6e6e6;
        font-weight: 500;
        display: inline-block;
        padding: 1.2rem;
    }


}