@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

/*
--- 01 TYPOGRAPHY SYSTEM


- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights


- Line heights


- Letter spacing


--- 02 COLORS

- Primary:
- Tints:
- Shades:
- Accents:
- Greys

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    /*background-color: #0f0112;*/
    font-family: jura,sans-serif;
}

body{
    background-color: #120214;
}

.main-text{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5.2rem;
    font-size: 3.2rem;
    color: #e6e6e6;
}

.circle_Title{
    margin-bottom: 9.6rem;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 42rem;
    height: 42rem;
    border-radius: 50%;
    background: rgb(30,0,33);
    background: linear-gradient(180deg, rgba(30,0,33,1) 0%, rgba(18,1,20,0.4458158263305322) 100%);
    z-index: -1;
    overflow: visible;
    box-shadow: 0px -120px 100px -70px rgba(196,42,73,1);
    /*margin-bottom: ;*/
}

.main-text {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 5.2rem;
    color: #e6e6e6;
    z-index: 1;
    white-space: nowrap
}


.header{
    display: flex;
    align-items: center;
    height: 9.6rem;
    justify-content: space-between;
    padding: 0 4.8rem;
    margin: 2.4rem;
}

.title{
    text-align: center;
    font-size: 2.4rem;
    color: #fdf2e9;
    letter-spacing: 2.4rem;
    font-weight: 300;
    padding: 3.2rem 0;
}

.logo{
    width: 24rem;
    filter: brightness(50);
}

.nav_link{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.nav_link li a:link,
.nav_link li a:visited{
    display: inline-block;
    text-decoration: none;
    color: #F2F3F4;
    font-size: 1.8rem;
    font-weight: 700;
    transition: all 0.3s;
}
.nav_link li a:active,
.nav_link li a:hover{
    color: #A7254A ;
}

.nav_link.nav-cta:link,
.nav_link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #751a34;
}

.nav_link.nav-cta:active,
.nav_link.nav-cta:hover {
    background-color: #a7254a;
}

.circle_Title{
    padding-bottom:9.6rem;
}

.footer_title{
    font-size: 3.2rem;
    font-weight: 500;
    color: #F5F5F5;
    padding-bottom: 1.2rem;
}

.sub_title{
    font-size: 1.4rem;
    color: #F5F5F5;
    padding-bottom: 1.2rem;
}

.fa-brands{
    font-size: 2.4rem;
}

.fa-brands:link, .fa-brands:visited{
    color: black;
}

.footer{
    position: absolute;
}
